
{{ function_signature }} {
 {{ setup }}

 for (auto _: state) {
   {{ name }}({{ policy }} {{ first }} {{ last }} {{ size }} {{ s_range }} {{ d_first }} {{ unary_pred }} {{ binary_pred }});
 }
}

{{ benchmark_register }};

{{ main }};
