{% block includes %}
{% endblock %}

{% block benchmark_function %}
  {% block setup %}
    {% block init_container %}
    {% endblock %}
  {% endblock %}
  
  {% block loop %}
    {% block benchmark %}
    {% endblock %}
  {% endblock %}
{% endblock %}

{% block bench_register %}
{% endblock %}

