{% block includes %}
{% endblock %}

{% block benchmark_function %}
  {% block setup %}
  {% endblock %}
  
    {% block benchmark %}
    {% endblock %}
{% endblock %}

{% block bench_register %}
{% endblock %}

