{% extends "base.jinja" %}
{% block includes %}
#include <benchmark/benchmark.h>
{% endblock %}

{% block benchmark_function %}
  static void {{name}}(benchmark::State& state) {
  {% block setup %}
    {% block init_container %}
    {% endblock %}
  {% endblock %}
  {% block loop %}
  for (auto _: state) {
    {% block benchmark %}
    {% endblock %}
  }
  {% endblock %}
}
{% endblock %}

{% block bench_register %}
BENCHMARK({{name}});
BENCHMARK_MAIN();
{% endblock %}

