{% extends "base.jinja" %}
{% block includes %}
#include <benchmark/benchmark.h>
{% endblock %}

{% block benchmark_function %}
  static void {{name}}(benchmark::State& state) {
  {% block setup %}
  {% endblock %}
  for (auto _: state) {
    {% block benchmark %}
    {% endblock %}
  }
}
{% endblock %}

{% block bench_register %}
BENCHMARK({{name}});
{% endblock %}

