{% extends "googlebenchmark.jinja" %}
{% block includes %}
{{ super() }}

#include <algorithm>
#include <execution>
#include <numeric>
#include <iostream>
#include <random>
{% endblock %}

{% block benhcmark_function %}
{{ super () }}
  {% block setup %}
  size_t size = 0;
  std::cin >> size;
  {{ container }}<{{type}}> src_container(size);

  {% block init_container %}
    {{ super () }}
    std::random_device rd;
    std::mt19937 gen(rd());
    std::uniform_int_distribution<> dist(1, 100);
    std::generate(src_container.begin(), src_container.end(), [&](){return dist(gen);});
    {% endblock %}
  {% endblock %}

  {% block benchmark %}
  auto result = std::{{ name }}(std::execution::{{ policy }}, src_container.begin(), src_container.end(), {{ predicate }});
  benchmark::DoNotOptimize(result);
  {% endblock %}

{% endblock %}
