{% extends "input_range.jinja" %}
{% block benchmark %}
std::{{ name }}(std::execution::{{ policy }}, src_container.begin(), src_container.end(), {{ predicate }});
benchmark::DoNotOptimize(src_container);
{% endblock %}

